{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrowed Books</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,350,0,0">
    <link rel="stylesheet" href=" {%static 'css/borrowed-books.css'%}">
</head>

<body>
    <div align="center">
        <nav>
            <ul style="position: relative;">
                <li id="logo">
                    <img src="{% static 'pics/logo15.png' %}">
                </li>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'borrow' %}">Browse Books</a></li>
                <form class="search">
                    <div class="search-selector">
                        <select id="searchBook">
                            <option value='all'>All</option>
                            <option value='title'>Title</option>
                            <option value='author'>Author</option>
                            <option value='category'>Category</option>
                        </select>
                    </div>
                    <input type="search" class="search-input" placeholder="Search" oninput="searchBooks()">
                    <input type="submit" value="Search" class="search-submit">
                </form>
                <li style="position: absolute; right: 0;">
                    <form action="{% url 'logout' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit"
                            style="background: none; border: none; padding: 0; cursor: pointer;"><a>Log
                                Out</a></button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
    <h1>Borrowed Books for you:</h1>
    <div class="book-carousel">
        <div class="list">
            <ul class="book-list" id="borrowed-books">
                {% for book in borrowed_books %}
                <li class="book">
                    <div class="image-container">
                        <a>
                            <!--href="bookdetails.html?title=${tmp}"-->
                            <img src="{{book.image.url}}" width="250" height="350" />
                        </a>
                        <div class="book-info">
                            <div class="book-name" style="font-size: larger">
                                {{book.title}}
                            </div>
                            <div class="book-author" style="font-size: larger">
                                {{book.author}}
                            </div>
                        </div>
                    </div>
                    <div class="borrow-button-container">
                        <a class="borrow-button available libraryButton" data-title="{{ book.title }}">Return</a>
                    </div>
                    
                </li>
                {% endfor %}
            </ul>
            <button class="arrow right-arrow" onclick="scrollBooksRight(1)">
                &#10095;
            </button>
            <button class="arrow left-arrow" onclick="scrollBooksLeft(1)">
                &#10094;
            </button>
        </div>
    </div>
    <button class="reset-button">Reset Borrowed Books</button>
    <button class="Up" id="toUp">&#8593;</button>
    <script src="{% static 'js/up.js' %}"></script>
    <script src="{% static 'js/borrowed-books.js' %}"></script>

</body>

</html>
{% include 'parts/footer.html' %}