{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Online Library</title>
      <link rel="stylesheet" href="{%static 'css/signup.css'%}" />
      <link
        href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
        rel="stylesheet"
      />
    </head>
  </head>

  <body>
    <nav>
      <ul>
        <li id="logo">
          <img src="{%static 'pics/logo19.png'%} " />
        </li>
        <li><a href="{% url 'homepage' %}">Home</a></li>
        <li><a href="{% url 'booklist'%}">Browse Books</a></li>
      </ul>
    </nav>

    <div class="signup-form">
      <div class="sign-up">
        <h1>Sign Up</h1>
      </div>
      <form id="signup" method="post">
        {% csrf_token %}

        <div class="email input-control">
          <label for="email">Email:</label>
          <div class="input-with-icon">
            <input type="text" id="email" name="email" />
            <i class="bx bxs-envelope"></i>
            <div class="error"></div>
          </div>
        </div>
        <div class="username input-control">
          <label for="username">Username:</label>
          <div class="input-with-icon">
            <input type="text" id="username" name="username" />
            <i class="bx bxs-user"></i>
            <div class="error"></div>
          </div>
        </div>
        <div class="password input-control">
          <label for="password">Password:</label>
          <div class="input-with-icon">
            <input type="password" id="password" name="password" />
            <i class="bx bxs-lock-alt"></i>
            <div class="error"></div>
          </div>
        </div>

        <div class="confirm-password input-control">
          <label for="confirm-password">Confirm Password:</label>
          <div class="input-with-icon">
            <input
              type="password"
              id="confirm-password"
              name="confirm-password"
            />
            <i class="bx bxs-lock-alt"></i>
            <div class="error"></div>
          </div>
        </div>

        <div class="is-admin input-control">
          <input type="radio" id="is-admin" name="check" value="admin" />
          <label class="admin" for="is-admin">Admin</label>

          <input type="radio" id="is-user" name="check" value="user" />
          <label class="user" for="is-user">User</label>

          <div class="error checker"></div>
        </div>

        <button type="submit">Sign Up</button>
        <div class="login-container">
          Already have an account?
          <a href="{%url 'login'  %}" class="login">Log in</a>
        </div>
      </form>
    </div>

    <script src=" {%static 'js/signup-new copy.js' %} "></script>

    <div class="end">
      <p>
        <span style="font-weight: bold">Bookify Library </span>
        <br />
        Copyright &copy; 2024
      </p>
      <div class="connect">
        CONNECT WITH US
        <p class="logo">
          <a href="#"> <img src=" {%static 'pics/facebook.png' %} " /></a>
          <a href="#"> <img src="{%static 'pics/instagram.png'%}" /></a>
          <a href="#"> <img src="{%static 'pics/twitter.png'%}" /></a>
        </p>
      </div>
    </div>
  </body>
</html>
