:root {
  --color1: rgb(235, 231, 228);
  --color2: rgb(82, 87, 64);
  --color3: rgb(0, 0, 0);
}

* {
  margin: 0;
}

body {
  font-family: "Times New Roman";
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  background-color: var(--color1);
}

.start {
  margin: 0;
  padding: 0;
  background-image: url(pics/homepage\ background.jpg);
  background-repeat: no-repeat;
  background-size: 100vw auto;
  background-position: center;
  background-origin: top;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.start p {
  font-size: 27px;
  color: var(--color3);
  margin-left: 20px;
  /* margin: 300px 100px; */
  margin-top: 300px;
  color: var(--color2);
}

#logo {
  border: none;
}

nav a {
  text-decoration: none;
  color: var(--color2);
}

nav a:hover {
  font-weight: bold;
  transition: 0.5s;
}

nav ul {
  justify-content: center;
  align-items: center;
  display: flex;
}

ul li {
  display: inline-block; /* Display li elements in a row */
  margin-top: 40px;
  margin-right: 30px;
  margin-bottom: 0px;
  list-style-type: none;
  font-size: 18px;
  border: 2px solid var(--color2);
  border-radius: 20px;
  padding: 6px;
}

.container {
  max-width: 400px;
  width: 95%;
  height: 150px;
  display: inline;
  background-color: var(--color1);
  justify-content: space-between;
}

.top-books {
  font-size: x-large;
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  color: var(--color2);
}

.books {
  text-align: center;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap; /* Allow books to wrap to the next line if there's not enough space */
  gap: 20px;
}

.book {
  display: inline-block;
  text-align: center;
  flex-direction: column;
  margin: 10px 20px;
  margin-bottom: 70px;
  border: 30px solid white;
  border-radius: 28px;
  justify-content: space-around;
  /* width: 200px; Set the initial size of the images */
  transition: transform 0.3s ease;
}

.book:hover {
  transform: scale(1.1);
}

.lowerBook {
  position: relative;
  top: 50px;
  margin-bottom: 70px;
}

.image-container {
  position: relative;
}

.image-container img {
  display: block;
}

.book-info {
  position: absolute;
  bottom: -170px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 70px;
  /* display: inline-block; */
  margin-bottom: 70px;
  /* display: inline-block; */
  color: var(--color2);
}

.book-name {
  font-weight: bold;
  font-size: 26px;
  
}

.book-name::after {
  content: "";
  display: block;
  width: 50%;
  margin: 0 auto;
  border-bottom: 2px solid var(--color1);
  margin-top: 2px;
}

.book-author {
  font-size: 24px;
}

.book-author::after {
  content: "";
  display: block;
  width: 50%;
  margin: 0 auto;
  border-bottom: 2px solid var(--color1);
  margin-top: 0px;
}

.rating {
  width: 100px;
  height: 25px;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
}

.book-rating .rating-value {
  margin-right: 5px;
  font-size: 20px;
  vertical-align: middle;
}

.submit {
  border: none;
  font-size: 18px;
}

.search {
  margin-top: 15px;
  display: flex;
  align-items: center;
  margin-left: 30px;
  padding: 14px;
  border-radius: 28px;
  background-color: #f6f6f6;
  border: 2px solid var(--color2);
  width: 350px;
  transition: background 0.25s;
}

.search:focus-within {
  background-color: #f1f1f1;
}

.search-input {
  font-size: 16px;
  /* color: grey; */
  color: var(--color2);
  margin-left: 14px;
  outline: none;
  border: none;
  background-color: transparent;
  flex: 1;
}

.search-input::placeholder,
.search-icon {
  color: var(--color2);
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
    /* Start off the screen on the right */
    opacity: 0;
    /* Initially hidden */
  }

  to {
    transform: translateX(0);
    /* Move to the original position */
    opacity: 1;
    /* Fully visible */
  }
}

.search-container {
  animation: slideFromRight 1s ease forwards;
  /* Apply the animation to the search container */
}

.end {
  margin-top: 120px;
  background-color: var(--color2);
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.end .connect {
  padding-top: 5px;
  margin-left: 50px;
}

.logo {
  display: flex;
  justify-content: center;
}

.end img {
  width: 20px;
  height: 20px;
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
    /* Start off the screen on the left */
    opacity: 0;
    /* Initially hidden */
  }

  to {
    transform: translateX(0);
    /* Move to the original position */
    opacity: 1;
    /* Fully visible */
  }
}

.welcome-message {
  animation: slideFromLeft 1s ease forwards;
  /* Apply the animation to the welcome message */
}