{%load static%}
<head>
    <link rel="stylesheet" href="{%static 'css/footer.css'%}">
</head>

<body>
    <div class="end">
        <p>
            <span style="font-weight: bold;">Bookify Library</span>
            <br>
            Copyright &copy; 2024
        </p>
        <div class="connect">
            CONNECT WITH US
            <p class="logo">

                <a href="#">
                    <img src="{%static 'pics/facebook.png'%}"></a>
                <a href="#">
                    <img src="{%static 'pics/instagram.png'%}"></a>
                <a href="#">
                    <img src="{%static 'pics/twitter.png'%}"></a>
            </p>

        </div>
</body>